APP_DIR=./../
NGINX_CONF_DIR=./nginx/conf.d

DB_ROOT_PASSWORD=secret
DB_NAME=forge
DB_USERNAME=forge
DB_PASSWORD=secret
NGINX_PROXY_PORT=80
DOMAINS=laravel.dev

COMPOSE_PROJECT_NAME=project_name_prefix_
